<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FarmInsight {% if lc == 'de' %}Passwort Zurücksetzen{% else %}Password Reset{% endif %}</title>
</head>
<body>
<h2>FarmInsight {% if lc == 'de' %}Passwort Zurücksetzen{% else %}Password Reset{% endif %}</h2>
<p>
{% if lc == 'de' %}
Es gab eine Anfrage das Passwort für Ihren Account zurückzusetzen, drücken Sie diesen Link um Ihr neues Passwort zu setzen. Der Link ist gültig für {{ duration }} Minuten:
{% else %}
There was a password reset request for your account, click this link to reset your password. The link is valid for {{ duration }} minutes:
{% endif %}
</p>
<a href="{{ reset_link }}">{% if lc == 'de' %}Passwort zurücksetzen{% else %}reset password{% endif %}</a>

</body>
</html>