{% extends 'base.html' %}

{% block content %}
<h2>{% if lc == 'de' %}Anmeldung{% else %}Login{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if lc == 'de' %}Anmelden{% else %}Login{% endif %}</button>
</form>

<p>{% if lc == 'de' %}Sie haben keinen Account?{% else %}Don't have an account?{% endif %} <a id="signup-link" href="#">{% if lc == 'de' %}Melden Sie sich hier an{% else %}Sign up here{% endif %}</a></p>
<p><a id="forgot-password-link" href="#">{% if lc == 'de' %}Sie haben ihr Passwort vergessen?{% else %}Forgot your password?{% endif %}</a></p>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const signupLink = document.getElementById('signup-link');
        const currentParams = new URLSearchParams(window.location.search);
        signupLink.href = "{% url 'signup_view' %}?" + currentParams.toString();
    });
    
    document.addEventListener('DOMContentLoaded', function() {
        const signupLink = document.getElementById('forgot-password-link');
        const currentParams = new URLSearchParams(window.location.search);
        signupLink.href = "{% url 'forgot_password_view' %}?" + currentParams.toString();
    });
</script>
{% endblock %}
