{% extends 'base.html' %}

{% block content %}
<h2>{% if lc == 'de' %}Registrieren{% else %}Sign Up{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if lc == 'de' %}Registrieren{% else %}Sign Up{% endif %}</button>
</form>

<p>{% if lc == 'de' %}Sie haben bereits einen Account?{% else %}Already have an account?{% endif %} <a id="login-link" href="#">{% if lc == 'de' %}Melden Sie sich hier an{% else %}Log in here{% endif %}</a></p>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var signupLink = document.getElementById('login-link');
    var currentParams = new URLSearchParams(window.location.search);
    signupLink.href = "{% url 'login_view' %}?" + currentParams.toString();
});
</script>
{% endblock %}